URI scheme syntax and character encoding

I've been digging in to the URI specs and handling of %-encoding, particularly with respect to Unicode characters beyond US-ASCII.  Documents (noted here partly for my own reference) that may be relevant are:

https://www.rfc-editor.org/rfc/rfc3986#section-2, especially section 2.4 (When to encode), section 2.5

https://www.ietf.org/rfc/rfc3987.html (IRIs)

https://www.rfc-editor.org/rfc/rfc4395 (design guidelines, obsoletes https://www.rfc-editor.org/rfc/rfc2718)

https://www.rfc-editor.org/rfc/rfc7595.html (registration procedure)


I'm concerned about whether the syntax and handling of character encoding and reserved character encoding are being handled properly.  While I think what is described is broadly correct, I'm concerned that lack of precision in the  spec (or maybe lack of availability for review of the formal ISO spec) means that there are corner cases that implementers could get wrong.

You characterise the DOI Name thus: "A DOI name is an opaque identifier and the syntax of a DOI name is a sequence of Unicode codepoints of the Graphic type".  I'm not sure what "Graphic type" means here.  A formal syntax would clarify that.  Also, that characterization appears to be at odds with the DOI handbook, section 1.3.2.  Based on the handbook, I'd expect the DOI Name to be specified thus:

    DOI-name       = DOI-prefix "/" DOI-suffix

    DOI-prefix     = "10" "." DIGIT *DIGIT

    DOI-suffix     = iunreserved *iunreserved

    # This definition of iunreserved is copied from RFC3987, section 2.2:

    iunreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~" / ucschar

    ucschar        = %xA0-D7FF / %xF900-FDCF / %xFDF0-FFEF
                   / %x10000-1FFFD / %x20000-2FFFD / %x30000-3FFFD
                   / %x40000-4FFFD / %x50000-5FFFD / %x60000-6FFFD
                   / %x70000-7FFFD / %x80000-8FFFD / %x90000-9FFFD
                   / %xA0000-AFFFD / %xB0000-BFFFD / %xC0000-CFFFD
                   / %xD0000-DFFFD / %xE1000-EFFFD

(Assuming that `ucschar` here corresponds to your "Unicode codepoints of the Graphic type".)

This could then be used specify a doi: IRI, per RFC3987:

    DOI-IRI = "doi" ":" DOI-name

This DOI IRI could be converted to a DOI URI by following the procedure in RFC3987, section 3.1.  There's an unresolved detail here about how to handle the "/" character, where you have said "apply percent-encoding to those data octets whose corresponding character is neither "unreserved" nor "/", resulting in a sequence of octets".   

I assume from your text that the "/" separating the prefix and suffix is not intended to be escaped?  For generic URI processing, this would normally be handled by the discussion in RFC3986, section 2.4.  But in this case, the "/" is not being used to separate component parts... or is it?  If the "/" is not being used as a URI path separator, it should be %-encoded in the URI.  If you wish to retain the "/" un-encoded, the DOI name could be treated as corresponding to a "path-rootless" component in the generic URI syntax - generic URI software assembling the URI should then treat the "/" as a separator, and not apply %-encoding.

By the way, I don't think that applying %-encoding of itself yields a sequence of octets:  it yields a new sequence of characters.  It's applying a character encoding, such as UTF-8 or US-ASCII, that yields a sequence of octets.

Your description of the process to map a DOI name to a URI involves applying the %-encoding as part of producing the DOI Name scheme specific part, rather than when producing the URI from its parts (cf. RFC3986, section 2.4).  This may be significant because some (many? most?) URI handling libraries operate by accepting URI components as strings, and applying %-encoding as appropriate for each supplied component; if the %-encoding has been applied to a supplied string, the "%" characters introduced can end up being escaped a second time, making a different URI.




> I'm not sure what "Graphic type" means here.

Graphic type is defined at [Table 2-3 of Unicode](https://www.unicode.org/versions/Unicode5.2.0/ch02.pdf). It is roughly similar to the concept of ASCII printable characters.

> Based on the handbook, I'd expect the DOI Name to be specified thus:

There is no guarantee that the prefix will always start with `10.`.

Both prefix and suffix must be handled as opaque strings.

> This could then be used specify a doi: IRI, per RFC3987:

I had looked at deriving the URI representation from an IRI representation (and using Steps 1(c) of RFC 3987, 3.1) but ultimately elected not to with the following rationale:

* IRI are not widely used (compared to URIs anyway)
* only a small part of the IRI specification would end-up being used (Steps 1(c) of RFC 3987, 3.1)
* there is already a non-percent-encoded representation of a DOI name, i.e., the native DOI name representation as a sequence of code points



> I assume from your text that the "/" separating the prefix and suffix is not intended to be escaped? 

Yes.

> But in this case, the "/" is not being used to separate component parts... or is it?

The "/" separator between the prefix and the suffix can be reasonably considered a component separator since the prefix can be resolved separately from the full DOI.

For example, given the DOI `10.5594/SMPTE.ST2067-21.2020`, both of the following resolve:

* https://doi.org/api/handles/10.5594
* https://doi.org/api/handles/10.5594/SMPTE.ST2067-21.2020

However, and as pointed out by the folks at CNRI in their review, "/" characters other than the separator between the prefix and suffix must not be treated as a component separator. In fact, both the prefix and the suffix must not be subject to hierarchical processing (see last paragraph of https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3).

> By the way, I don't think that applying %-encoding of itself yields a sequence of octets: it yields a new sequence of characters. It's applying a character encoding, such as UTF-8 or US-ASCII, that yields a sequence of octets.

Ok.

> This may be significant because some (many? most?) URI handling libraries operate by accepting URI components as strings, and applying %-encoding as appropriate for each supplied component; if the %-encoding has been applied to a supplied string, the "%" characters introduced can end up being escaped a second time, making a different URI.

I do not think there can a generic URI encoding library since percent-encoding is scheme-specific per RFC 3986, 2.2: _If data for a URI component would conflict with a reserved character's purpose as a delimiter, then the conflicting data must be percent-encoded before the URI is formed._

In any case, the process for generating a URI from a DOI name, as described in this document, is specific to the doi URI scheme.

In light of the above, I propose the following revised mapping between DOI names and URIs.

```
As specified at [iso26324], a DOI name consists of an ordered sequence of Unicode code
points of the Graphic type. The code points are arranged in a DOI prefix and a DOI suffix
separated by U+002F SOLIDUS. 

A DOI Name URI is a URI that corresponds to a given DOI name. As defined at [RFC7595],
its scheme name SHALL be "doi" and its scheme-specific-part SHALL be conform to the
following syntax (expressed using ABNF syntax as defined at [RFC5234]):

    scheme-specific-part = doi-encoded-prefix "/" doi-encoded-suffix

doi-encoded-prefix and doi-encoded-suffix SHALL be the result of applying the following
ordered sequence of steps to, respectively, the DOI prefix and DOI suffix:

(1) express the sequence of Unicode code points as a UTF-8 String, as defined
at [iso10646], without the byte order mark and without any normalization; and

(2) for any byte B in the UTF-8 String that is not in the unreserved set, replace it with the triplet
of bytes resulting from US-ASCII encoding the character triplet resulting from percent-encoding byte B.
```

Examples:

| DOI name  | DOI name URI |
| ------------- | ------------- |
| 10.6338/JDA.202212/SP_17(4).0000  | doi:10.6338/JDA.202212%2fSP_17%284%29.0000 |
| 10.5594/SMPTE.ST2067-21.2020  | doi:10.5594/SMPTE.ST2067-21.2020  |
| 10.26321/Á.GUTIÉRREZ.ZARZA.02.2018.03  | doi:10.26321/%C3%81.GUTI%C3%89RREZ.ZARZA.02.2018.03  |

Note:

The set of code points that are not percent-encoded in step (1) could safely be broadened to include _sub-delims_, ":" and "@". That would affect about 3% of DOI names. I am not sure it is worth the risk since these additional characters that sometime have special meaning could introduce confusion.

[edited to handle the fact that percent-encoding results in a string that must be converted to bytes.]

It seems unfortunate to require people to encode some but not all slashes.  Definitely preferable to encoding all slashes though; all DOIs have at least one slash and most have exactly one, and it would be a shame to require encoding it.  I do not expect tools that make use of doi: URIs (or generic URIs) to have issues with the unencoded slash.

@gklyne mentions that if we 'wish to retain the "/" un-encoded, the DOI name could be treated as corresponding to a "path-rootless" component in the generic URI syntax'.  This seems right, and indeed a doi: URI with un-encoded slashes is syntactically valid this way.

RFC7595 does say
> Schemes that are not intended for use with relative URIs SHOULD avoid
> use of the forward slash "/" character in order to avoid unintended
> processing, such as resolution of "." and ".." (dot segments).

I think we do not anticipate or intend the doi: scheme for use with relative URIs; nonetheless I hope the entrenched nature of the DOI syntax, and the centrality of the slash in that syntax, can be seen as a valid reason to leave the slash character alone.  And I do not expect tools which process relative URIs would actually encounter difficulties with doi: URIs in practice.

@gklyne also mentions the issue of URI-handling libraries and avoiding double escaping.  Indeed I would expect to provide the (unencoded) DOI name to such a library as either the (unencoded) scheme-specific part, or the path, and have the library encode as necessary.  But I think the way RFC7595 uses "scheme-specific-part" it must already match the syntax of RFC3986 and so must already be encoded?


@tupelo-schneck Any strong opinion if `sub-delims`, ":" and "@" should, must not or may be percent-encoded. I think the safest is  to percent encode them, but perhaps there is a reason not to do so.

Below is Python code that is intended to implement the algorithm.

```
# percent-encoding table
PCT_ENCODE = []
for b in range(256):
  if ord('a') <= b <= ord('z') or \
      ord('A') <= b <= ord('Z') or \
      ord('0') <= b <= ord('9') or \
      b in (ord('-'), ord('~'), ord('_'), ord('.')):
    PCT_ENCODE.append(chr(b))
  else:
    PCT_ENCODE.append(f"%{b:X}")


def doi2uri(doi):
  def percent_encode(segment):
    return "".join(map(lambda c: PCT_ENCODE[c], segment.encode("utf-8")))

  (prefix, suffix) = doi.split("/", 1)
  return f"doi:{percent_encode(prefix)}/{percent_encode(suffix)}"

DOIS = [
        "10.6338/JDA.202212/SP_17(4).0000",
        "10.5594/SMPTE.ST2067-21.2020",
        "10.26321/Á.GUTIÉRREZ.ZARZA.02.2018.03"
        ]

for doi in DOIS:
  print(doi2uri(doi))
```

The "path-rootless" syntax allows unencoded sub-delims, ":", and "@", and so it might be of some benefit to users to make it clear that a doi: URI can be successfully processed even if those are unencoded.

I suppose I have an inclination to specify the minimum possible amount of encoding necessary to be syntactically valid and not confuse common tooling.  But it's a pretty mild preference for most characters, except for the slash.

> I suppose I have an inclination to specify the minimum possible amount of encoding necessary to be syntactically valid and not confuse common tooling. But it's a pretty mild preference for most characters, except for the slash.

Ok, we can expand the unencoded characters to include  sub-delims, ":", and "@", unless @gklyne objects. 

Fixed at f1e158128923ce0277e0dbc1ccfe4e6790bd5cf1

With reference to @palemieux proposalat https://github.com/sandflow/doi-uri-scheme/issues/11#issuecomment-2344988595 ...

I have a lingering concern here that the syntax references details in [iso26324] and [iso10646] that are not freely available for public review (I, for one, have no access to these documents that I know of).  This makes it hard or impossible for reviewers like me to confirm definitively that the proposed syntax conforms to RFC3986 requirements.  This is why I was requesting that some ABNF be included in the publicly accessible specification.

I also have a concern about the ordering of operations described.  Maybe there is a discrepancy here between the [iso10646] definition of UTF-8 as a string (sequence of code points) vs a commonly understood in the IETF (cf. https://datatracker.ietf.org/doc/html/rfc3629).  This is a subtle area, but my understanding is that %-encoding is applied to characters, not octets.  This aspect of I18N is somewhat at the limits of my experience, and is really an area that I feel should be reviewed by someone more conversant with the various issues.

It may be that I've missed out on some changes to ISO standards accessibility in this area.  I assumed they were paywalled, but I followed link above to what appears to be a freely available copy of the Unicode spec.  Can this link be included in the URI specification document references section (https://www.ietf.org/archive/id/draft-lemieux-doi-uri-scheme-06.html)?  Also, is there a similar freely available version of ISO 26324?

> > I'm not sure what "Graphic type" means here.
> 
> Graphic type is defined at [Table 2-3 of Unicode](https://www.unicode.org/versions/Unicode5.2.0/ch02.pdf). It is roughly similar to the concept of ASCII printable characters.

I've looked at Table 2-3, and I still don't know how to formally recognize a "graphic type" character (i.e. don't know how to write code to recognize one).  Is there a formal syntax for this anywhere?

> > Based on the handbook, I'd expect the DOI Name to be specified thus:
> 
> There is no guarantee that the prefix will always start with `10.`.
> 
> Both prefix and suffix must be handled as opaque strings.

Fair enough, but this isn't clear to me from the documentation available to me.   IIRC, the DOI makes specific reference to the "10." prefix, which is why I suggested that syntax.

> > This could then be used specify a doi: IRI, per RFC3987:
> 
> I had looked at deriving the URI representation from an IRI representation (and using Steps 1(c) of RFC 3987, 3.1) but ultimately elected not to with the following rationale:
> 
> * IRI are not widely used (compared to URIs anyway)
> * only a small part of the IRI specification would end-up being used (Steps 1(c) of RFC 3987, 3.1)
> * there is already a non-percent-encoded representation of a DOI name, i.e., the native DOI name representation as a sequence of code points

It's your call if you don't want to specify IRIs as well.   But to add my 2¢: in my experience, DOIs are often used as identifiers in RDF files, particularly by the library community, and RDF explicitly uses IRIs as identifiers.

But mainly, I was trying to refer to existing work in this area rather than reinventing stuff, which I would expect to lead to encourage greater consistency and re-use of code.

> > This may be significant because some (many? most?) URI handling libraries operate by accepting URI components as strings, and applying %-encoding as appropriate for each supplied component; if the %-encoding has been applied to a supplied string, the "%" characters introduced can end up being escaped a second time, making a different URI.
> 
> I do not think there can a generic URI encoding library since percent-encoding is scheme-specific per RFC 3986, 2.2: _If data for a URI component would conflict with a reserved character's purpose as a delimiter, then the conflicting data must be percent-encoded before the URI is formed._
> 
> In any case, the process for generating a URI from a DOI name, as described in this document, is specific to the doi URI scheme.

I agree that when *generating* a DOI URI, scheme awareness is required in order to handle escaping (and other scheme-specific constraints).  But generic URI processing libraries do exist.  Look at the standard library of most modern programming languages (e.g. https://docs.python.org/3/library/urllib.parse.html#module-urllib.parse).

Of course, such generic libraries don't capture the specifics of each scheme, but they do carry much of the heavy lifting.  When I write URL handling code in Python, I invariably use the URL library to initially handle URIs, and to deal with syntax issues.

All this is the point of _uniformity_ of URIs: there is a common structure whose handling can be handled by common code, and this is why following generic URI syntax conventions is so important.  Expect some (many?) applications to process DOI URIs without knowing they are DOI URIs.

> I think we do not anticipate or intend the doi: scheme for use with relative URIs; nonetheless I hope the entrenched nature of the DOI syntax, and the centrality of the slash in that syntax, can be seen as a valid reason to leave the slash character alone. And I do not expect tools which process relative URIs would actually encounter difficulties with doi: URIs in practice.

Applications that deal with relative URI references may do so without knowing if the scheme actually allows these.

In practice, I think the "/" separator can be retained unencoded - I don't think applying relative reference processing should cause any problems in practice as long as the scheme name (doi:) is included, and I can't see any context in which a DOI URI would be presented without this. (The only potential I can imagine is using a DOI name where a URI is expected, may result in being treated as a relative reference and yield some strange results if based to, say, an HTTP URI - but that would an error anyway.)

> I've looked at Table 2-3, and I still don't know how to formally recognize a "graphic type" character (i.e. don't know how to write code to recognize one). Is there a formal syntax for this anywhere?

The "General Category" mentioned the table appears in the Unicode Character Database, so it's programmatically discoverable. 

@gklyne wrote:

> I also have a concern about the ordering of operations described. Maybe there is a discrepancy here between the [iso10646] definition of UTF-8 as a string (sequence of code points) vs a commonly understood in the IETF (cf. https://datatracker.ietf.org/doc/html/rfc3629). This is a subtle area, but my understanding is that %-encoding is applied to characters, not octets.

Percent-encoding is applied to octets in RFC3986:

> When a new URI scheme defines a component that represents textual
> data consisting of characters from the Universal Character Set [[UCS](https://datatracker.ietf.org/doc/html/rfc3986#ref-UCS)],
> the data should first be encoded as octets according to the UTF-8
> character encoding [[STD63](https://datatracker.ietf.org/doc/html/rfc3986#ref-STD63)]; then only those octets that do not
> correspond to characters in the unreserved set should be percent-
> encoded.  For example, the character A would be represented as "A",
> the character LATIN CAPITAL LETTER A WITH GRAVE would be represented
> as "%C3%80", and the character KATAKANA LETTER A would be represented
> as "%E3%82%A2".


My mistake. (I also double-checked the IRI-to-URI mapping, and that too applies the %-encoding to octets.)